<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'AppCoder/site.css' %}"/>
</head>

<body>
<div class="navbar">
    <a href="{% url 'inicio' %}" class="navbar-item">inicio</a>
    <a href="{% url 'registro' %}" class="navbar-item">registro</a>
    <a href="{% url 'discos' %}" class="navbar-item">discos</a>
    <a href="{% url 'reseñas' %}" class="navbar-item">reseñas</a>
    <a href="{% url 'contacto' %}" class="navbar-item">contacto</a>
    
</div>

<div class="body-content">
    {% block content %}
    {% endblock %}
    <hr/>
    <footer>
        <p>© 2022</p>
    </footer>
</div>
</body>
</html>



